.NewFuel {
    height: 85vh;
    width: 100vw;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas:
        'a b c'
        'd e f';

    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.form {
    grid-area: b;
    height: 100%;
    width: 100%;
}

.CarTake {
    grid-area: e;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    width: 22vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 201, 201);
    border-radius: 6px;
    text-decoration: none;
    margin: 20px 0 20px 0;
}
