.NewCar {
    height: 85vh;
    width: 100vw;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: 'a b c d';

    grid-template-columns: 1fr 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.form {
    grid-area: b;
    height: 100%;
    width: 100%;
}

.carPrev {
    grid-area: c;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
