@keyframes showBackdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideBackdrop {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hideModal {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(500px);
    }
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 3, 3, 0.5);
    transition: all 0.3s;
    animation: showBackdrop 0.3s ease-out;
    z-index: 100;
}

.backdropHide {
    display: none;
    animation: hideBackdrop 0.3s ease-out;
}

.ModalHide {
    display: none;
    transform: translateY(500px);
    animation: hideModal 0.3s ease-out;
}

.Modal {
    background: antiquewhite;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 25px grey;
    border-radius: 10px;
    transition: all 0.3s;
    animation: showModal 0.3s ease-out;
    z-index: 100;
}

.header {
    width: 100%;
    height: 25px;
    padding: 10px;
}

.header h3 {
    margin: 0;
}

.body {
    padding: 10px;
    border-top: 2px solid rgb(85, 85, 88);
}
