.content {
    height: 85vh;
    width: 100%;
    background-color: rgb(85, 85, 88);
    background-image: url(../../img/bmw_e86_4_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    width: 76px;
    height: 185px;
    z-index: 2;
    cursor: pointer;
}

.arrow:active {
    margin-top: 8px;
}

.ArrowPrev {
    left: 0;
}

.ArrowPrev:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.ArrowNext {
    right: 0;
}

.ArrowNext:hover {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .5);
}

.CarBlock {
    margin: 0 10px 0 10px;
    
}