.UpperBlock {
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 25%;
    justify-content: stretch;
    align-items: stretch;
    background-color: antiquewhite;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.btn:active {
    color: brown;
    background-color: rgb(199, 201, 201);
}

.click {
    color: brown;
    background-color: rgb(199, 201, 201);
    /* border: 1px solid rgb(199, 201, 201); */
}

.moneyForFuel {
    border-right: 1px solid rgb(199, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.averageDistance {
    border-left: 1px solid rgb(199, 201, 201);
    border-right: 1px solid rgb(199, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.averageConsumption {
    border-left: 1px solid rgb(199, 201, 201);
    border-right: 1px solid rgb(199, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.costFuel {
    border-left: 1px solid rgb(199, 201, 201);
    border-right: 1px solid rgb(199, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.moneyForEtc {
    border-left: 1px solid rgb(199, 201, 201);
    border-right: 1px solid rgb(199, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carInfo {
    border-left: 1px solid rgb(199, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

.word {
    font-size: 70%;
}
