.CarCard {
    width: 30vw;
    height: 65vh;
    z-index: 1;
    background-color:antiquewhite;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.CarCard img {
    width: 30vw;
}