.GrafBlock {
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-areas: 
        "a a a a"
        "b b b c"
        "d d d d";
    grid-template-rows: 3vh 59vh 3vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grafikName {
    grid-area: a;
    display: grid;
    grid-template-areas: "e e e f";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: center;
    background-color: rgb(59, 59, 59);
    color: antiquewhite;
}

.names {
    grid-area: e;
}

.cap {
    grid-area: f;
}

.CarGrafik {
    grid-area: b;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    
}

.aside {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 201, 201);
    
}

.generalDistance {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid antiquewhite;
}

.generalFuel {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
}

.generalCostOneKm {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
}

.generalCostOneDay {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid antiquewhite;
}

.toggle {
    grid-area: d;
    display: grid;
    grid-template-areas: "e e e f";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: center;
    background-color: rgb(59, 59, 59);
    color: antiquewhite;
}

.dots {
    grid-area: e;
}

